:root {
    --text-color: #E5FBFF;
    --dark-blue: #4b4b4b;
    --light-blue: #1d1d1d;
    --yellow: #FFD577;
    --dark-yellow: #FFBC28;
    --card-border: rgba(167, 239, 253, 1);
    --body-font: 'Chivo Mono', monospace;;
    --heading-font: 'Chivo Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-blue);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 62.5%;
}

/*--------------------------------------------------------------*/
/*-------------------------  NAVIGATION  -----------------------*/
/*--------------------------------------------------------------*/

header {
    position: relative;
}

nav {
    width: 100%;
    height: 4rem;
    background: var(--light-blue);
    position: fixed;
}

img#header-img {
    position: absolute;
    max-width: 3rem;
    height: 55px;
    top: .5rem;
    margin-left: 2rem;
}

.brand {
    color: var(--yellow);
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 2rem;
    margin-left: 4.00rem;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 4rem;
    margin: 0 .5rem;
}

nav ul li a {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 3px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: var(--yellow);
    color: var(--dark-blue);
}

.checkbtn {
    font-size: 2rem;
    color: var(--text-color);
    float: right;
    line-height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav-link:active{
    background-color: var(--yellow);
    color: var(--dark-blue);
}

/*--------------------------------------------------------------*/
/*----------------------------  MAIN  --------------------------*/
/*--------------------------------------------------------------*/
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 8rem;
}

section {
    padding: 4rem 0;
    margin: 3rem 0;
}

#about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#about .text {
    grid-column: 1 / 3;
    grid-row: 1;
}

h1.brand-heading {
    font-family: var(--heading-font);
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 0 0 10px var(--yellow);
}

h2 {
    font-size: 1.25rem;
    padding: 1.75rem 0 1.25rem 0;
}

p.description {
    font-size: 1rem;
    padding-top: 1.75rem;
}

#about .image {
    grid-column: 3;
    grid-row: 1;
}

.astronaut {
    max-width: 350px;
    float: right;
    z-index: -1;
}

#features {
    margin-top: -2rem;
}

#features h2.section-heading,
#testimonials h2.section-heading,
#pricing h2.section-heading,
#preview h2.section-heading,
#signup h2.section-heading {
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--text-color);
    padding: 1.25rem 0;
}

/*--------------------------------------------------------------*/
/*---------------------------  FEATURES  -----------------------*/
/*--------------------------------------------------------------*/

/* Float four columns side by side */
#features .column {
    float: left;
    width: 33%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
#features .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
#features .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
#features .card {
    border: 2px solid var(--card-border);
    padding: 16px;
    text-align: center;
    background-color: var(--text-color);
    border-radius: 5px;
}

#features .card i.bi {
    font-size: 3rem;
    color: var(--dark-blue);
    display: block;
    padding-bottom: 0.5rem;
}

#features .card h3 {
    font-size: 1.125rem;
    padding: .5rem 0;
    color: var(--light-blue);
}

#features .card p {
    font-size: .85rem;
    padding: 0.5rem 1rem;
    color: var(--dark-blue);
}

/*--------------------------------------------------------------*/
/*----------------------------  VIDEO  -------------------------*/
/*--------------------------------------------------------------*/
/* Float four columns side by side */
#preview .column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
#preview .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
#preview .row:after {
    content: "";
    display: table;
    clear: both;
}

iframe {
    border: none;
}

/* Style the counter cards */
#preview .card {
    padding: 16px 16px 16px 0;
}

#preview .card p {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 0;
    color: var(--text-color);
}



/*--------------------------------------------------------------*/
/*----------------------------  SIGNUP  -------------------------*/
/*--------------------------------------------------------------*/
/* Float four columns side by side */
#signup .column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
#signup .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
#signup .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
#signup .card {
    padding: 16px 16px 16px 0;
    border-radius: 5px;
}

#signup .card h3 {
    font-size: 1.125rem;
    padding: .5rem 0;
    color: var(--yellow);
}

#signup .card i {
    padding-right: 0.5rem;
    color: var(--yellow);
}

#signup .card p {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 0;
    color: var(--text-color);
}

/* form styling */
form {
    margin-top: 2rem;
}

.input-group {
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: .5rem;
}

label {
    display: inline-block;
    font-size: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input {
    margin: 0;
}

.form-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--text-color);
    font-style: italic;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}

.form-check .form-check-input {
    float: left;
    /*margin-left: -1.5em;*/
    margin-right: 0.5rem;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}


.btn-primary {
    color: var(--dark-blue);
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-blue);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.signup-img {
    margin-right: 10rem;
}

.signup-img img {
    width: 80%;
    height: auto;
    float: right;
}

/*--------------------------------------------------------------*/
/*-----------------------  TESTIMONIALS  -----------------------*/
/*--------------------------------------------------------------*/

/* Float four columns side by side */
#testimonials .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
#testimonials .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
#testimonials .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
#testimonials .card {
    border: 2px solid var(--card-border);
    padding: 16px;
    text-align: center;
    background-color: var(--text-color);
    border-radius: 5px;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 33% auto;
}

#testimonials .card h3 {
    flex: 1;
    padding: 10px;
    font-size: 1.25rem;
    color: var(--dark-yellow);
}

#testimonials .card p {
    font-size: .85rem;
    padding: 0.5rem;
    color: var(--dark-blue);
}

#testimonials .card .customer-name {
    color: var(--dark-blue);
    font-style: italic;
    font-size: .75rem;
}

.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/*--------------------------------------------------------------*/
/*--------------------------  FOOTER  --------------------------*/
/*--------------------------------------------------------------*/

.rows{
    display: flex;
    align-items: center;
   
}

.rows .about{
    padding: 5px 10px;  
    width: 50%;
}

.rows .categories{
    padding: 5px 10px;
    width: 20%;
}

.rows .quick-links{
    padding: 5px 10px;
    width: 20%;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*--------------------------------------------------------------*/
/*-----------------------  MEDIA QUERIES  ----------------------*/
/*--------------------------------------------------------------*/


@media (max-width: 952px) {
    label.brand {
        font-size: 1.75rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--light-blue);
        padding-top: 2rem;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 1.25rem;
    }

    nav ul li a:hover,
    nav ul li a.active {

        background: none;
        color: var(--yellow);
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span {
  font-size:30px;
  cursor:pointer;
  padding: 10px;
    color: white;
}

.col-md-4 {
    margin-right: 20px;
}

.col-md-8 {
    margin-left: 20px;
}